.profile__info {
  margin: 107px auto 0;
}

@media screen and (max-width: 800px) {
  .profile__info  {
    margin: 80px auto 0;
  }
} 

@media screen and (max-width: 600px) {
  .profile__info  {
    margin: 64px auto 0;
  }
}