.navigation__close {
  position: absolute;
  padding: 0;
  margin: 0;
  top: 22px;
  right: 22px;
}

@media screen and (max-width: 600px) {
  .navigation__close  {
    top: 13px;
    right: 13px;
  }
}