.footer__links {
  gap: 20px;
  display: flex;
  list-style: none;
  padding: 0;
}

@media screen and (max-width: 500px) {
  .footer__links {
    flex-direction: column;
    margin: 30px auto 0;
    gap: 12px;
  }
}