.movie-card__save {
  position: absolute;
  background-color: transparent;
  border: none;
  margin: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: .1s ease-in;
  display: flex;
  justify-content: end;
  padding: 14px;
  transition: .1s ease-in;
} 

.movie-card__save:hover .movie-card__save-logo{
  display:block;
}
  
