.profile__links {
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: center;   
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0 auto;
}


@media screen and (max-width: 600px) {
  .profile__links  {
    font-size: 12px;
    line-height: 15px;
  }
}

