.movie-list {
  display: flex;
  flex-wrap: wrap;
  margin: 80px 0 28px;
  row-gap: 60px;
  column-gap: 30px;
  padding: 70px 0 0 70px;
  border-top: 1px #E8E8E8 solid;
  min-height: 540px;
  width: 100%;
  justify-content: flex-start;
}

@media screen and (max-width: 1000px) {
  .movie-list  {
    padding: 70px 0 0 30px;
    row-gap: 47px;
    margin: 120px auto 0;
  }
}

@media screen and (max-width: 600px) {
  .movie-list  {
    height: 168px;
    justify-content: center;
    padding: 70px 10px 0;
    row-gap: 39px;
    margin: 120px auto 0;
  }
}