.navigation__popup {
  position: absolute;
  background-color: white;
  top: 0;
  right: 0;
  left: 248px;
  bottom: 0;
  height: 100vh;
  display: none;
}

@media screen and (max-width: 600px) {
  .navigation__popup {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}